.feedHeader {
    margin-top: 30px;
    background-color: var(--nav-primay);
    height: 300px;
    border-radius: 10px;
}

.tabs {
    width: calc(100% / 3);
}

.icon {
    margin-right: 6px !important;
    margin-bottom: 2px !important;
}

.wrapper {
    width: 100%;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.swiper-container {
    list-style: none;
}

.pagination {
    bottom: 0;
    padding-bottom: 4px;
}

.slide {
    border-radius: 12px;
    text-align: center;
    height: 200px;
    width: 115px;
    overflow: hidden;
    position: relative;
}

.story {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.avatar {
    position: absolute;
    top: 12px;
    left: 12px;
}

.name {
    position: absolute;
    bottom: 12px;
    left: 8px;
    font-size: 14px;
    color: var(--white);
    font-weight: 600;
    z-index: 1;
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent 80%, rgba($color: #000000, $alpha: 0.5));
}
