.testIcon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/xa-yYlcuYpI.png');
    background-position: 0 -50px;
    background-size: 26px 104px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
